[Unit]
After=network.target

[Service]
User=root
ExecStart=/usr/bin/python3 /opt/domo/web.py
Restart=on-failure
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

[Install]
WantedBy=multi-user.target